{% extends "base.html"%}


{% block student %}
{% block search %}      
    <form class="pt-3 pb-3 d-flex align-items-center caption-lower" method="post" action="{{url_for('student.search')}}" >
        <select id="field" name="field" class="form-select p-2">
            <option value="select">Select Field</option>
            <option value="id_no">Student ID</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="year_level">Year Level</option>
            <option value="gender">Course</option>
        </select>
      <div class="input-group">
        <input id="searchField" type="text" class="form-control searchfield ml-2" name="user-input" placeholder="Type to Search">
        <button type="submit" class="btn btn-white search-button ml-2"><i class="fas fa-search text-danger"></i></button>
      </div>
    </form>
{% endblock %}

        </table>
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-10 ml-auto mt-5">
                    <a href="#" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addmodal">Add Student</a>
                    <table class="table table-hover table-bordered" style="background-color: #dff0d8;">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col-sm">ID</th>
                                <th scope="col-sm">Firstname</th>
                                <th scope="col-sm">Lastname</th>
                                <th scope="col-sm">Course</th>
                                <th scope="col-sm">Year</th>
                                <th scope="col-sm">Gender</th>
                                <th scope="col-sm" class="text-center">Action</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for student in student [0] %}
                                <tr>
                                    <td>{{student[0]}}</td>
                                    <td>{{student[1]}}</td>
                                    <td>{{student[2]}}</td>
                                    <td>{{student[3]}}</td>
                                    <td>{{student[4]}}</td>
                                    <td>{{student[5]}}</td> 
                                    <td class="text-center">
                                        <a href="#" class="btn btn-warning btn-sm px-3" data-toggle="modal" data-target="#edit-student-modal{{student[0]}}">Edit</a>
                         
                                        <a href="{{url_for('student.delete', id_no=student[0])}}" class="btn btn-danger btn-sm px-3" onclick="return confirm('Are you sure you want to remove ?')">Delete</a>
                                      </td>
                                </tr>
                        </tbody>
                        <!-- MODAL EDIT STUDENT-->
                        <div id="edit-student-modal{{student[0]}}" class="modal fade"  role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Information</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{url_for('student.editStudent')}}" method="POST">
                                            <div class="form-group">   
                                                <input type="hidden" class="form-control" id="old_id_number" name="old_id_number" value="{{student[0]}}" required="True">
                                              </div>
                                            <div class="form-group">
                                                <label>ID No:</label>
                                                <input type="text" class="form-control" name="id_no" value="{{student[0]}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Firstname</label>
                                                <input type="text" class="form-control" name="first_name" value="{{student[1]}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Lastname</label>
                                                <input type="text" class="form-control" name="last_name" value="{{student[2]}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Course:</label>
                                                <input type="text" class="form-control" name="course" value="{{student[3]}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Year Level:</label>
                                                <input type="text" class="form-control" name="year_level" value="{{student[4]}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Gender:</label>
                                                <input type="text" class="form-control" name="gender" value="{{student[5]}}">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Update</button>
                                            </div>
                                        </form>
                                    </div>

                                                <!--MODAL EDIT FOOTER-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                                <!--MODAL EDIT FOOTER END-->
                                </div>
                            </div>
                        </div>
                        <!--END MODAL EDIT-->
                {% endfor %}
                    </table>
            </div>
        </div>
    </div>
    <div id="addmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title">Add Student</h4>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <form action="{{url_for('student.addStudent')}}" method="POST">
                        <div class="form-group">
                             <label>ID No:</label>
                             <input type="" class="form-control" name="id_no" id="id_no" required="1">
                         </div>
                         <div class="form-group">
                             <label>First Name:</label>
                             <input type="" class="form-control" name="first_name" id="first_name" required="1">
                         </div>
                         <div class="form-group">
                             <label>Last Name:</label>
                             <input type="" class="form-control" name="last_name" id="last_name" required="1">
                         </div>
                         <div class="form-group">
                             <label>Course:</label>
                             <input type="" class="form-control" name="course" id="course" required="1">
                         </div>
                         <div class="form-group">
                             <label>Year:</label>
                             <input type="" class="form-control" name="year_level" id="year_level" required="1">
                         </div>
                         <div class="form-group">
                             <label>Gender:</label>
                             <input type="" class="form-control" name="gender" id="gender" required="1">
                         </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add Student</button>
                        </div>
                    </form>
                </div>
                <!--MODAL BODY END-->
                <!--MODAL ADD FOOTER-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                                    <!--MODAL ADD FOOTER END-->
            </div>
        </div>
    </div>
    {% endblock %}

  
